* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 54vw;
    margin: 0 auto;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3rem;
}

.description {
    font-family: sans-serif;
}

.description-heading {
    margin-bottom: 0.8rem;
}

.bottom {
    width: 100%;
    height: 8rem;
    position: relative;
    text-align: center;
    color: #A9A9A9;
    font-size: 00.8rem;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.team-member-container {
    width: 33%;
    display: flex;
    justify-content: center;
}

.center {
    position: relative;
    width: 75%;
}

.team-member-container img {
    width: 100%;
}

.team-member-role {
    transform-origin: left;
    transform: rotate(90deg);
    position: absolute;
    top: 0;
    left: 105%;
    white-space: pre;
    font-size: 0.75rem;
}

.team-member-name {
    padding: 0.1rem;
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.team-member-container:nth-child(3n+2) {
    margin-top: 7rem;
}

@media screen and (max-width: 800px) {
    .container {
        width: 100vw;
        padding: 64px 10px 8px 10px;
    }
    .top {
        padding: 20px;
    }
    .heading {
        font-size: 1.85rem;
        margin-bottom: 30px;
    }
    .description-heading {
        margin-bottom: 17px;
    }
    .description {
        font-size: 0.9rem;
        letter-spacing: -0.04rem;
    }
    .team-member-container {
        width: 50%;
    }
    .team-member-container:nth-child(3n+2) {
        margin-top: 0;
    }
    .team-member-container:nth-child(even) {
        margin-top: 7rem;
    }
    .main {
        padding-top: 36px;
    }
}

@media screen and (max-width: 480px) {
    .top {
        flex-direction: column;
    }
}